body{
background-color:black
}
.max-container{
    background-image:url(sonic.jpg);
    width: 1280px;
    height: 650px;
    margin: auto;
    background-size: cover;
}

.container{
    margin:auto;
    width: 490px;
    height: 490px;
    background-color: rgba(50,50,200,0.3);
    display: flex;
    border-radius: 5%;
}
.column{
    display:flex;
    flex-basis: 70px;
    height: 100%;
    position: relative;
    flex-shrink: 2;
}
.column-item{
    top: 0px;
    width: 70px;
    height: 70px;
    position: absolute;
    transition: top 1s;
    flex-shrink: 2;
}
.column-item img{
    position: relative;
}

